@media screen and (max-width: 500px) {
  .header {
    max-width: 100%;
    padding: 0 20px 0 30px;
  }
  .main-section {
    max-width: 100%;
  }

  .main-content {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }

  .buttons-container {
    display: flex;
    gap: 1rem;
  }
  .intro-heading {
    margin: 0;
    font-size: 1rem;
  }

  .intro-description {
    width: 70vw;
  }

  .secondary-column {
    width: 100%;
  }

  .skills-heading {
    margin: 40px 0 0 8px;
  }

  .skills-wrapper {
    max-width: 100%;
  }

  .personal-image {
    width: 95%;
    padding-top: 1rem;
  }
  .contact-section {
    padding: 2rem;
  }
  .contact-info {
    margin: 0.5rem;
  }
  .contact-info-wrapper {
    max-width: 100%;
    flex-wrap: wrap;
  }
  .project-tech {
    padding: 1rem;
  }
  .contact-detail {
    white-space: initial;
  }

  .social-section {
    max-width: 100%;
    flex-wrap: wrap;
  }

  .project-heading {
    margin-top: 40px;
  }

  .project-wrapper {
    width: 74vw;
    padding: 1rem;
  }

  .project-title {
    font-size: 1rem;
  }

  .project-description {
    max-width: 100%;
    margin-right: 10px;
  }

  .project-image {
    max-width: 100%;
  }

  .project-text {
    max-width: 100%;
    margin-right: 10px;
  }

  .project-container {
    max-width: 100%;
    margin-top: 40px;
    padding: 0 20px;
  }

  .project-box {
    max-width: 100%;
  }

  .additional-projects {
    max-width: 100%;
    margin-top: 40px;
    padding: 0 20px;
  }

  .project-image-wrapper {
    max-width: 100%;
    margin-right: 10px;
  }

  .about-section {
    width: 70%;
  }

  .about-text {
    width: 100%;
    text-align: justify;
  }

  .contact-info {
    display: flex;
    flex-direction: column;
  }
  .ask-me-info {
    width: 77%;
  }
  .button {
    font-size: 0.5rem;
  }
  .skills-heading,
  .contact-heading,
  .project-heading {
    font-size: 2rem;
    margin: 0;
    text-align: center;
  }
}
